# 1. Arquivos de Credenciais e Tokens Confidenciais
# ESSENCIAL: Contém sua chave de acesso. Não deve ser compartilhado!
token.pickle
dist/token.pickle

# Arquivos de credenciais da API (opcional, mas altamente recomendado)
credentials.json

# 2. Pastas de Ambiente Virtual (Venv)
.venv/
venv/
lib/
include/
Scripts/
pyvenv.cfg
__pycache__/

# 3. Arquivos de Compilação (PyInstaller)
# Ignora o executável final
*.exe

# Ignora os arquivos de configuração do PyInstaller
*.spec

# Pastas de saída de build
/build/
/dist/